# Logs
hapi-task-backend/logs
hapi-task-backend/*.log
hapi-task-backend/npm-debug.log*
hapi-task-backend/yarn-debug.log*
hapi-task-backend/yarn-error.log*

vue-task-frontend/logs
vue-task-frontend/*.log
vue-task-frontend/npm-debug.log*
vue-task-frontend/yarn-debug.log*
vue-task-frontend/yarn-error.log*



# Runtime data
hapi-task-backend/pids
hapi-task-backend/*.pid
hapi-task-backend/*.seed
hapi-task-backend/*.pid.lock

vue-task-frontend/pids
vue-task-frontend/*.pid
vue-task-frontend/*.seed
vue-task-frontend/*.pid.lock


# Dependency directories
hapi-task-backend/node_modules/
vue-task-frontend/node_modules/



#dist directories for front-end
vue-task-frontend/dist


# TypeScript v1 declaration files
hapi-task-backend/typings/
vue-task-frontend/typings/


# Optional npm cache directory
hapi-task-backend/.npm
vue-task-frontend/.npm


# Optional eslint cache
hapi-task-backend/.eslintcache
vue-task-frontend/.eslintcache


# Output of 'npm pack'
hapi-task-backend/*.tgz
vue-task-frontend/*.tgz

